body {
    
    background-color: black;
   
}

#switches {
    height: 200px;
    width: 400px;
    padding-left: 400px;
    padding-top: 200px;
}
#switches a:link {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    height: 400px;
    background: url(/media/image/off_switch.png) no-repeat;
}

#switches a:hover{

    background: url(/media/image/on_switch.jpg) no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
}

